# Free token: https://www.football-data.org/client/register
FOOTBALL_DATA_API_KEY=
# Key: https://console.anthropic.com
ANTHROPIC_API_KEY=
# $200 credits: https://dpgr.am/ucb-ai-signup
DEEPGRAM_API_KEY=
